html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
}
h1{
    font-size:20px;
    color: rgb(250, 194, 8);
    text-align: center;
}
hr{
    height:3px;
    background-color: rgb(250, 194, 8);
    ;
}
#p1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:3px solid black;
    padding:10px;
    width:20rem;
}
#arrange{
    display: flex;
    justify-content: center;
}
#p2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:3px solid black;
    padding:10px;
    width:20rem;
}

#attack{
    background-color: rgb(80, 107, 130);
    color:rgb(233, 180, 4);
    font-size: 10px;
    margin: 10rem 40%;
    padding: 2rem;
    width:20rem;
    font-size: 90%;
}
#commentary{
    text-align: center;
    margin:3rem 40%;
    font-size: 1rem;
    border: 1px solid rgb(233, 180, 4);
    ;
}